
    <table class="container">
      <tr>
        <td>
          <div class="widget">
      
              <div class="weatherInfo">
                <div class="temperature"><span>{{tempactual}}&deg;<sup>c</sup></span></div>
                <div class="description">    
                  <div class="weatherCondition">{{weathercondicion}}</div>    
                  <div class="place">{{place}},{{codplace}}</div>
                  <div class="place"><img src="assets/max.png" class="d-inline-block align-top" alt="">{{tempmax}}&deg;<sup>c</sup><img src="assets/min.png" class="d-inline-block align-top" alt="">{{tempmin}}&deg;<sup>c</sup></div>
                </div>
              </div>
          </div>
        </td>
        <td>
          <div class="weatherIcon"><img src="{{descripcionicon}}" class="d-inline-block align-top" alt=""></div>
        </td>
      </tr>
    </table>



