
<div class="container">

  <div class="header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/beer.png" class="d-inline-block align-top" alt="">
  <a class="navbar-brand mb-0 h1" [routerLink] = "['/inicio']">SocialMeet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link mb-0 h5" [routerLink] = "['/inicio']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="identity">
        <a class="nav-link mb-0 h5" [routerLink] = "['/mismeets']" *ngIf="identity.rol === 'VISITANTE'" >Mis Meets</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right" *ngIf="!identity">
      <li class="nav-item active">
        <a class="nav-link" [routerLink] = "['/login']">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/registro']">Registro</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right" *ngIf="identity">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mb-0 h6" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          BIENVENIDO {{identity.nombre + ' ' + identity.apellido}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink] = "['/crearmeet']" *ngIf="identity.rol === 'ADMINISTRADOR'">Crear Meet</a>
          <a class="dropdown-item"  [routerLink] = "['/statusmeet']" *ngIf="identity.rol === 'ADMINISTRADOR'">Ver Status Meets</a>
          <a class="dropdown-item" [routerLink] = "['/statusmeet/estconsumo']" *ngIf="identity.rol === 'ADMINISTRADOR'">Estimaci&oacute;n Bebidas</a>
          <a class="dropdown-item" [routerLink] = "['/inventariomeet']" *ngIf="identity.rol === 'ADMINISTRADOR'">Inventario Bebidas</a>
          <a class="dropdown-item" [routerLink] = "['/statusmeet/inscribir']" *ngIf="identity.rol === 'VISITANTE'">Inscribirme a una Meet</a>
          <div class="dropdown-divider"></div>
          
          <a class="dropdown-item" [routerLink] = "['/logout/1']">Salir</a>
        </div>
      </li>
      
    </ul>
    
  </div>
</nav>
</div>
<div class="content">
<router-outlet></router-outlet>
</div>

</div>